// Theme colors

$bg-color-primary: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
$bg-color-secondary: #fff;

$font-color-primary: #fff;
$font-color-secondary: #000;
$font-color-link-hover: grey;
$font-color-link-active: blue;