@import "burger";
/* Header */

header {

    height: 60px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background: $bg-color-primary;
}

nav {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    display: flex;

    .logo {
        position: absolute;
        height: 36px;
        width: 98vw;
        margin: 0 auto 0 auto;
        display: flex;
        align-content: center;

        #logoTop {
            height: 100%;
            width: auto;
            margin: auto;
            fill: $font-color-primary;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav {
        position: relative;
        align-items: center;
        justify-content: center;

        .logo {
            position: relative;
            margin: 0 auto 0 0;
            display: block;
            width: unset;
        }

    }
}