/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #fff;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: grey;
}

a:active {
  color: blue;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 25.89px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover {
  color: #000000;
  background-color: #fff;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  transition: color 0.3s ease;
  vertical-align: middle;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #menuToggle input {
    all: unset;
  }
  /*
      * Just a quick hamburger
      */
  #menuToggle span {
    all: unset;
  }
  #menuToggle span:first-child {
    all: unset;
  }
  #menuToggle span:nth-last-child(2) {
    all: unset;
  }
  /* 
      * Transform all the slices of hamburger
      * into a crossmark.
      */
  #menuToggle input:checked ~ span {
    all: unset;
  }
  /*
      * But let's hide the middle one.
      */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    all: unset;
  }
  /*
      * Ohyeah and the last one should go the other direction
      */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    all: unset;
  }
  /*
      * Make this absolute positioned
      * at the top left of the screen
      */
  #menu {
    all: unset;
  }
  #menu li {
    all: unset;
    margin: 1em;
  }
  /*
      * And let's slide it in from the left
      */
  #menuToggle input:checked ~ ul {
    all: unset;
  }
  nav {
    flex-direction: row-reverse;
  }
}

/* Header */
header {
  height: 60px;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
}

nav {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  display: flex;
}

nav .logo {
  position: absolute;
  height: 36px;
  width: 98vw;
  margin: 0 auto 0 auto;
  display: flex;
  align-content: center;
}

nav .logo #logoTop {
  height: 100%;
  width: auto;
  margin: auto;
  fill: #fff;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    position: relative;
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    position: relative;
    margin: 0 auto 0 0;
    display: block;
    width: unset;
  }
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.hero .left #logoBitcoin {
  display: inline-block;
  height: 120px;
  margin: 0;
  vertical-align: middle;
}

.hero .left p {
  color: #fff;
}

.hero .right #logoWebsite {
  max-height: 109.66px;
  max-width: 100%;
  width: auto;
  margin: auto;
  color: #fff;
}

.hero .right .imgWrapper {
  width: 100%;
}

.hero .right .imgWrapper img {
  display: block;
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero {
    height: 80vh;
    display: grid;
    grid-template-columns: 45% auto;
  }
  .hero .left {
    grid-column: 1;
    margin-left: 5rem;
  }
  .hero .right {
    grid-column: 2;
    margin-right: 5rem;
    display: grid;
    grid-template-rows: 25% auto auto;
  }
  .hero .right .coinmarketcap-currency-widget {
    background: #fff;
    border-radius: 10px;
  }
  .hero .right .imgWrapper {
    z-index: 1;
  }
  .hero .right h3 {
    padding: 0;
    margin: 0;
    z-index: 3;
  }
}

footer {
  height: 600px;
  bottom: 0;
  background: #fff;
  color: #000;
}

* {
  cursor: url(https://d7-creative.com/wp-content/uploads/2018/09/d7-Cursor.png), auto;
}

body {
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
}

main {
  margin-top: 60px;
  display: block;
  z-index: 10;
}

section {
  margin-top: 60px;
  display: block;
  z-index: 10;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */