/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #fff;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: grey;
}

a:active {
  color: blue;
}

.btn.cta {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 25.89px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}

.btn.cta:hover {
  color: #000000;
  background-color: #fff;
}

li {
  list-style-type: none;
  font-size: 1rem;
}

ul {
  padding: 0;
}

.btn.card-btn {
  align-self: center;
  border-radius: 0.12em;
  padding: 0.35em 1.2em;
  font-size: 25.89px;
  font-weight: 400;
  padding: .5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #A445B2, #D41872, #FF0066);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff7fa inset;
  color: #000;
}

.btn.card-btn:hover {
  box-shadow: none;
  color: white;
}

p.disclaimer {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-style: italic;
  color: #332d2f;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  transition: color 0.3s ease;
  vertical-align: middle;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #menuToggle input {
    all: unset;
  }
  /*
      * Just a quick hamburger
      */
  #menuToggle span {
    all: unset;
  }
  #menuToggle span:first-child {
    all: unset;
  }
  #menuToggle span:nth-last-child(2) {
    all: unset;
  }
  /* 
      * Transform all the slices of hamburger
      * into a crossmark.
      */
  #menuToggle input:checked ~ span {
    all: unset;
  }
  /*
      * But let's hide the middle one.
      */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    all: unset;
  }
  /*
      * Ohyeah and the last one should go the other direction
      */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    all: unset;
  }
  /*
      * Make this absolute positioned
      * at the top left of the screen
      */
  #menu {
    all: unset;
  }
  #menu li {
    all: unset;
    margin: 1em;
  }
  /*
      * And let's slide it in from the left
      */
  #menuToggle input:checked ~ ul {
    all: unset;
  }
  nav {
    flex-direction: row-reverse;
  }
}

/* Header */
header {
  height: 60px;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
}

nav {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  display: flex;
}

nav .logo {
  position: absolute;
  height: 36px;
  width: 98vw;
  margin: 0 auto 0 auto;
  display: flex;
  align-content: center;
}

nav .logo #logoTop {
  height: 100%;
  width: auto;
  margin: auto;
  fill: #fff;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    position: relative;
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    position: relative;
    margin: 0 auto 0 0;
    display: block;
    width: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .parent.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .parent.hero .div1.full1 {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url("/img/backgrounds/blob-haikei.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .parent.hero .div2.left1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 5rem;
  }
  .parent.hero .div2.left1 #logoBitcoin {
    display: inline-block;
    height: 120px;
    margin: 0;
    vertical-align: middle;
  }
  .parent.hero .div2.left1 p {
    color: #fff;
  }
  .parent.hero .div2.left1 ul.socials {
    display: flex;
  }
  .parent.hero .div2.left1 ul.socials li {
    margin: 2em;
  }
  .parent.hero .div3.right1 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("/img/icons8_cryptocurrencies.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
  }
  .parent.hero .div4.right2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-right: 5em;
  }
  .parent.hero .div4.right2 h3 {
    width: 80%;
    padding: 0;
    margin: 0;
    z-index: 3;
    align-self: flex-end;
    height: fit-content;
    bottom: 0;
  }
  .parent.hero .div4.right2 #logoWebsite {
    max-height: 109.66px;
    max-width: 100%;
    width: auto;
    margin: auto;
    color: #fff;
  }
  .parent.hero .div5.right3 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-content: flex-start;
    margin-right: 5em;
  }
  .parent.hero .div5.right3 .coinmarketcap-currency-widget {
    background: #fff7fa;
    border-radius: 10px;
    position: absolute;
    float: left;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #fff;
  width: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  /* On mouse-over, add a deeper shadow */
  /* Add some padding inside the card container */
}

.card .card-img-top {
  height: 10rem;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .card-body {
  padding: 1rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-body h4 {
  color: #000;
  align-self: center;
}

.card .card-body .btn {
  justify-self: center;
}

.parent.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #fff7fa;
  z-index: 1;
}

.parent.featured .div1 {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
}

.parent.featured .div1 h2 {
  color: #000;
}

.parent.featured .div2.cards {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.parent.news {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.parent.news .div1.full1 {
  grid-area: 1 / 1 / 2 / 3;
}

.parent.news .div2.left1 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
}

.parent.news .div2.left1 .newsfeed {
  max-width: 80%;
}

.parent.news .div2.left1 .newsfeed .coinmarketcap-currency-widget {
  background: #fff7fa;
  border-radius: 10px;
}

.parent.news .div3.right1 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
}

.parent.news .div3.right1 .newsfeed {
  max-width: 80%;
}

.parent.news .div4.left2 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
}

.parent.news .div5.right2 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
}

.parent.news .div6.full2 {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 2em;
}

.parent.news .div6.full2 p {
  color: #fff;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #fff7fa;
}

.about .div1.all1.bg {
  grid-area: 1 / 1 / 3 / 3;
  background-image: linear-gradient(rgba(255, 247, 250, 0.466), rgba(255, 247, 250, 0.466)), url("/img/backgrounds/circle-scatter-haikei (1).svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about .div2.full1 {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
}

.about .div2.full1 h2 {
  color: #000;
}

.about .div3.full2 {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2em;
}

section.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #fff7fa;
}

section.shop .div1.all1.bg {
  grid-area: 1 / 1 / 3 / 3;
  background-image: linear-gradient(#1d0022, #1d0022), url("/img/backgrounds/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.shop .div1.all1.bg p {
  color: #fff;
}

section.shop .div2.full1 {
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
}

section.shop .div2.full1 p {
  color: #fff;
}

section.shop .div3.full2 {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2em;
}

section.shop .div3.full2 p {
  color: #fff;
}

footer.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 10;
}

footer.parent .div1.left1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 5rem;
}

footer.parent .div2.right1 {
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 5rem;
}

footer.parent .div2.right1 .logo {
  padding: 2rem;
}

footer.parent .div2.right1 .logo #logoBottom {
  height: 80%;
  width: auto;
  margin: auto;
  fill: #fff;
}

footer.parent .div3.left2 {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 5rem;
}

footer.parent .div4.full1 {
  grid-area: 3 / 1 / 4 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
}

footer.parent .div5.full2 {
  grid-area: 4 / 1 / 5 / 3;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
}

* {
  cursor: url(https://d7-creative.com/wp-content/uploads/2018/09/d7-Cursor.png), auto;
}

body {
  background: linear-gradient(90deg, #A445B2, #D41872, #FF0066);
}

main {
  display: block;
  z-index: 10;
}

section {
  display: block;
  z-index: 10;
  padding-top: 60px;
}
/*# sourceMappingURL=style.css.map */